<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>

</head>
<body>
    <div class ="left-side" th:fragment="aside">
        <ul class="big_menu">
            <li class="menu-list"><a href="#">SHOP</a>
                <ul class="small_menu">
                    <li><a href="/collections/collaboration">Collaboration</a></li>
                    <li><a href="/collections/NewArrival">New Arrival</a></li>
                    <li><a href="/collections/Outwear">Outwear</a></li>
                    <li><a href="/collections/Knitwear">Knitwear</a></li>
                    <li><a href="/collections/Shirts">Shirts</a></li>
                    <li><a href="/collections/Innerwear">Innerwear</a></li>
                    <li><a href="/collections/Bottom">Bottom</a></li>
                    <li><a href="/collections/Accessories">Accessories</a></li>
                </ul>
            </li>
            <li><a href="#">COLLECTION</a></li>
            <li><a href="#">Q & A</a></li>
            <li><a href="#">REVIEW</a></li>
            <li><a href="#">NOTICE</a></li>
        </ul>
        <script src="/static/script/main/aside_menu.js"></script>
    </div>
</body>
</html>