<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>

</head>
<body>
        <div class="aaaa" th:fragment="header">
            <div>
                <h1 style="margin:20px 0 40px 40px">JP Studio</h1>
            </div>
            <div class="right-menu">
                <ul>
                        <span class="login-status">
                            <li><a href="/account/login">LOGIN</a></li>
                            <li><a href="/account/signUp">REGISTER</a></li>
                        </span>
                    <li>MY ACCOUNT</li>
                    <li>BAG</li>
                </ul>
            </div>
            <script src="/static/script/main/header_menu.js"></script>
        </div>
</body>
</html>