.collection-products {
  display: flex;
  flex-wrap: wrap;

  padding: 0px 35px 0 15%;

  width: 100%;
}


.collection-product {
  box-sizing: content-box;
  width: 25%;   
  margin: 0px 80px 40px 0px;
  padding: 0px 12.5px;
  cursor: pointer;
}


.page-num {
display: flex;
justify-content: center;
margin-bottom: 40px;
margin-top: 20px;

font-size: 12px;
}

.page-num ul {
padding: 0;
margin: 0;
}

.page-num li {
display: inline-block;
list-style: none;
margin-right: 15px;
}

.page-num a {
display: flex;
align-items: center;
}

.page-num li a {
display: block;
text-align: center;

width: 33px;
padding: 9px 0;
color: #9999;
}

.product-img{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;

  width: 125%;
  overflow: hidden; 
}

.product-img img{
  width: 95%;
}

.product-name, .product-price{
  margin-top: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  color: #000;
  font-size: 12px;
  margin-left: 15px;
}

.product-name{
  font-weight: 700;
}