<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head th:replace="~{fragment/head :: head}"></head>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/static/CSS/Main1.css">
<link rel="stylesheet" href="/static/CSS/Login.css">
<link rel="stylesheet" href="/static/images">
</head>

<body>
	<div id="container">
        <div th:replace="~{fragment/header :: header}"></div>
        <div th:replace="~{fragment/aside :: aside}"></div>
        <div class="login">
            <div class="account-container">
            <section class="account-current">
                <form action="/account/login" method="post">
                  <h3 class="account-subtitle">로그인</h3>
                    <div th:if="${error == 'auth'}">

                    </div>
                    <div th:if="${error == 'passwordExpired'}">

                    </div>
                    <input type="text" class="account-input" name="username" th:value="${username}" placeholder="아이디" required>
                    <input type="password" class="account-input" name="password" placeholder="비밀번호" required>
                  <a class="find-password-link"href="">비밀번호를 잊으셨나요?</a>
                  <button type="submit" class="btn account-button">로그인</button>
                  <div class="hr-sect">OR</div>
                  <button type="button" onclick="location.href='/account/signUp'" class="btn account-button">회원가입</button>
                </form>
            </section>
        </div>
        </div>
    </div>
    <script src="/static/script/aside_menu.js"></script>
</body>
</html>