<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head th:replace="~{fragment/head :: head}"></head>
<head>
     <link rel="stylesheet" href="/static/CSS/Main1.css">
     <link rel="stylesheet" href="/static/images">
<style>
    body{
    height: 100vh;
	width: 100vw;
	background-repeat : no-repeat;
	background-size : cover;
    background-attachment: fixed;
    }
</style>
</head>
<body>
    <div id="container">
        <div th:replace="~{fragment/header :: header}"></div>
        <div th:replace="~{fragment/aside :: aside}"></div>
    </div>
    <script src="/static/script/main/aside_menu.js"></script>
    <script type="text/javascript" src="/static/script/main/mainSlide.js"></script>
</body>
</html>